In [1]:
import pandas as pd
import numpy as np

In [3]:
ds = pd.read_csv("mercedesbenz.csv",usecols=['X1','X2'])

In [4]:
ds.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [8]:
# Lets have a look at number of unique categories for each feature
for column in ds.columns:
  print(f"column {column} has {len(ds[column].unique())} unique categories")

column X1 has 27 unique categories
column X2 has 44 unique categories

In [9]:
# lets create a function to count the frequencies of each category and make a dictionary
def count(ds, col_name):
  # this function return the dictionary in which, key is the unique category and valus is the frequency of occurance
  return ds[col_name].value_counts().to_dict()
  # if instead of the count we would like the frequency
  # we need only divide the count by the total number of observations:

In [11]:
X1_frequency_map = count(ds, 'X1')
X2_frequency_map = count(ds, 'X2')

In [13]:
# lets check the dictionary
print("Frequency map of X1 feature",X1_frequency_map)
print("Frequency map of X2 feature",X2_frequency_map)

Frequency map of X1 feature {'aa': 833, 's': 598, 'b': 592, 'l': 590, 'v': 408, 'r': 251, 'i': 203, 'a': 143, 'c': 121, 'o': 82, 'w': 52, 'z': 46, 'u': 37, 'e': 33, 'm': 32, 't': 31, 'h': 29, 'y': 23, 'f': 23, 'j': 22, 'n': 19, 'k': 17, 'p': 9, 'g': 6, 'd': 3, 'q': 3, 'ab': 3}
Frequency map of X2 feature {'as': 1659, 'ae': 496, 'ai': 415, 'm': 367, 'ak': 265, 'r': 153, 'n': 137, 's': 94, 'f': 87, 'e': 81, 'aq': 63, 'ay': 54, 'a': 47, 't': 29, 'k': 25, 'i': 25, 'b': 21, 'ao': 20, 'ag': 19, 'z': 19, 'd': 18, 'ac': 13, 'g': 12, 'ap': 11, 'y': 11, 'x': 10, 'aw': 8, 'at': 6, 'h': 6, 'al': 5, 'an': 5, 'q': 5, 'av': 4, 'ah': 4, 'p': 4, 'au': 3, 'am': 1, 'j': 1, 'af': 1, 'l': 1, 'aa': 1, 'c': 1, 'o': 1, 'ar': 1}

In [14]:
# now we replace the feature X1 and X2 with this frequency count
ds['X1'] = ds['X1'].map(X1_frequency_map)
ds['X2'] = ds['X2'].map(X2_frequency_map)

In [15]:
ds.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137

As we can see that the features has been mapped