In [5]:
!pip install feature_engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature_engine
  Downloading feature_engine-1.4.0-py2.py3-none-any.whl (276 kB)
     |████████████████████████████████| 276 kB 5.0 MB/s
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (0.12.2)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.0.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.21.6)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.7.3)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature_engine) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature_engine) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.4.0

In [6]:
import pandas as pd
import numpy as np
from feature_engine.encoding import CountFrequencyEncoder

In [7]:
ds = pd.read_csv("mercedesbenz.csv",usecols=['X1','X2'])

In [8]:
ds.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [10]:
# Lets have a look at number of unique categories for each feature
for column in ds.columns:
  print(f"column {column} has {len(ds[column].unique())} unique categories")

column X1 has 27 unique categories
column X2 has 44 unique categories

In [11]:
ds.columns.to_list()

['X1', 'X2']

In [12]:
# Create and fit the model
count_enc = CountFrequencyEncoder(
    encoding_method='count', # to do frequency ==> encoding_method='frequency'
    variables=ds.columns.to_list())

count_enc.fit(ds)

CountFrequencyEncoder(variables=['X1', 'X2'])

In [14]:
# let's see number of observation of each category of each features

count_enc.encoder_dict_

{'X1': {'aa': 833,
  's': 598,
  'b': 592,
  'l': 590,
  'v': 408,
  'r': 251,
  'i': 203,
  'a': 143,
  'c': 121,
  'o': 82,
  'w': 52,
  'z': 46,
  'u': 37,
  'e': 33,
  'm': 32,
  't': 31,
  'h': 29,
  'y': 23,
  'f': 23,
  'j': 22,
  'n': 19,
  'k': 17,
  'p': 9,
  'g': 6,
  'd': 3,
  'q': 3,
  'ab': 3},
 'X2': {'as': 1659,
  'ae': 496,
  'ai': 415,
  'm': 367,
  'ak': 265,
  'r': 153,
  'n': 137,
  's': 94,
  'f': 87,
  'e': 81,
  'aq': 63,
  'ay': 54,
  'a': 47,
  't': 29,
  'k': 25,
  'i': 25,
  'b': 21,
  'ao': 20,
  'ag': 19,
  'z': 19,
  'd': 18,
  'ac': 13,
  'g': 12,
  'ap': 11,
  'y': 11,
  'x': 10,
  'aw': 8,
  'at': 6,
  'h': 6,
  'al': 5,
  'an': 5,
  'q': 5,
  'av': 4,
  'ah': 4,
  'p': 4,
  'au': 3,
  'am': 1,
  'j': 1,
  'af': 1,
  'l': 1,
  'aa': 1,
  'c': 1,
  'o': 1,
  'ar': 1}}

In [15]:
# Transform and view the result
ds = count_enc.transform(ds)

# let's view the result
ds.head()

    X1   X2
0  408    6
1   31    4
2   52  137
3   31  137
4  408  137

### Note:
If the argument variables is left to None, then the encoder will automatically identify all categorical variables.

The encoder will not encode numerical variables. So if some of your numerical variables are in fact categories, you will need to re-cast them as object before using the encoder.

If there is a variable in the test set, for which the encoder doesn't have a number to assigned (the category was not seen in the train set), the encoder will return an error.