In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
# from feature_engine.encoding import OrdinalEncoder

In [15]:
ds = pd.read_csv('mercedesbenz.csv', usecols=['X1', 'X2','X3', 'X4','X5', 'X6'])

In [16]:
ds.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [17]:
# lets find out how many unique categories are present in each columns
for column in ds.columns:
  print(f"Column {column} has {len(ds[column].unique())} categories")

Column X1 has 27 categories
Column X2 has 44 categories
Column X3 has 7 categories
Column X4 has 4 categories
Column X5 has 29 categories
Column X6 has 12 categories

In [19]:
# Create and fit the encoder

le = LabelEncoder()
le.fit(ds['X2'])

LabelEncoder()

In [20]:
# Observing Unique Classes
le.classes_

array(['a', 'aa', 'ac', 'ae', 'af', 'ag', 'ah', 'ai', 'ak', 'al', 'am',
       'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au', 'av', 'aw', 'ay',
       'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'x', 'y', 'z'], dtype=object)

In [21]:
# Now lets transform and view the result
ds['X2'] = le.transform(ds['X2'])

ds.head()

  X1  X2 X3 X4 X5 X6
0  v  17  a  d  u  j
1  t  19  e  d  y  l
2  w  34  c  d  x  j
3  t  34  f  d  x  l
4  v  34  f  d  h  d

We can see that the feature column X2 has been integer encoded.

Note: LabelEncoder works one variable at the time. However there is a way to automate this for all the categorical variables.

In [22]:
from collections import defaultdict

In [23]:
d = defaultdict(LabelEncoder)

In [24]:
# Encoding the variable
ds_transformed = ds.apply(lambda x: d[x.name].fit_transform(x))

In [26]:
ds_transformed.head()

   X1  X2  X3  X4  X5  X6
0  23  17   0   3  24   9
1  21  19   4   3  28  11
2  24  34   2   3  27   9
3  21  34   5   3  27  11
4  23  34   5   3  12   3

In [28]:
# If we want to bring back the original labels, we can inverse transform the matrix

# Inverse the encoded
tmp = ds_transformed.apply(lambda x: d[x.name].inverse_transform(x))
tmp.head()

  X1  X2 X3 X4 X5 X6
0  v  17  a  d  u  j
1  t  19  e  d  y  l
2  w  34  c  d  x  j
3  t  34  f  d  x  l
4  v  34  f  d  h  d